module-name: keda
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/keda-manager:1.7.0
  - europe-docker.pkg.dev/kyma-project/prod/external/ghcr.io/kedacore/keda:2.17.0
  - europe-docker.pkg.dev/kyma-project/prod/external/ghcr.io/kedacore/keda-admission-webhooks:2.17.0
  - europe-docker.pkg.dev/kyma-project/prod/external/ghcr.io/kedacore/keda-metrics-apiserver:2.17.0
mend:
  language: golang-mod
  exclude:
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/test/**"
    - "**/*_test.go"
