module-name: keda
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/keda-manager:main
  - europe-docker.pkg.dev/kyma-project/prod/external/ghcr.io/kedacore/keda:2.18.3
  - europe-docker.pkg.dev/kyma-project/prod/external/ghcr.io/kedacore/keda-admission-webhooks:2.18.3
  - europe-docker.pkg.dev/kyma-project/prod/external/ghcr.io/kedacore/keda-metrics-apiserver:2.18.3
mend:
  language: golang-mod
  exclude:
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/test/**"
    - "**/*_test.go"
