apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager
  namespace: kyma-system
  labels:
    control-plane: manager
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: keda-manager.kyma-project.io
      control-plane: manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/component: keda-manager.kyma-project.io
        control-plane: manager
    spec:
      priorityClassName: "priority-class"
      securityContext:
        runAsNonRoot: true
        # TODO(user): For common cases that do not require escalating privileges
        # it is recommended to ensure that all your Pods/Containers are restrictive.
        # More info: https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted
        # Please uncomment the following code if your project does NOT have to work on old Kubernetes
        # versions < 1.19 or on vendors versions which do NOT support this field by default (i.e. Openshift < 4.11 ).
        # seccompProfile:
        #   type: RuntimeDefault
      containers:
        - command:
            - /manager
          args:
            - --leader-elect
          image: controller:latest
          imagePullPolicy: Always
          name: manager
          env:
            - name: KEDA_MODULE_VERSION
              value: 1.7.0
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: 32Mi
              cpu: 10m
            limits:
              memory: 128Mi
              cpu: 200m
      serviceAccountName: manager
      terminationGracePeriodSeconds: 10
