apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager
  namespace: kyma-system
  labels:
    control-plane: manager
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: keda-manager.kyma-project.io
      control-plane: manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
        sidecar.istio.io/inject: "false"
      labels:
        app.kubernetes.io/component: keda-manager.kyma-project.io
        control-plane: manager
    spec:
      priorityClassName: "priority-class"
      securityContext:
        runAsNonRoot: true
        # TODO(user): For common cases that do not require escalating privileges
        # it is recommended to ensure that all your Pods/Containers are restrictive.
        # More info: https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted
        # Please uncomment the following code if your project does NOT have to work on old Kubernetes
        # versions < 1.19 or on vendors versions which do NOT support this field by default (i.e. Openshift < 4.11 ).
        # seccompProfile:
        #   type: RuntimeDefault
      containers:
        - command:
            - /manager
          args:
            - --leader-elect
            - --config-path=/etc/keda-manager/config.yaml
          image: controller:latest
          imagePullPolicy: Always
          name: manager
          volumeMounts:
            - name: log-configuration
              mountPath: /logconfig
          env:
            - name: LOG_CONFIG_PATH
              value: /logconfig/log-config.yaml
            - name: KEDA_MODULE_VERSION
              value: main
            - name: IMAGE_KEDA_OPERATOR
              value: europe-docker.pkg.dev/kyma-project/prod/external/ghcr.io/kedacore/keda:2.18.3
            - name: IMAGE_KEDA_METRICS_APISERVER
              value: europe-docker.pkg.dev/kyma-project/prod/external/ghcr.io/kedacore/keda-metrics-apiserver:2.18.3
            - name: IMAGE_KEDA_ADMISSION_WEBHOOKS
              value: europe-docker.pkg.dev/kyma-project/prod/external/ghcr.io/kedacore/keda-admission-webhooks:2.18.3
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: 32Mi
              cpu: 10m
            limits:
              memory: 512Mi
              cpu: 200m
      volumes:
        - name: log-configuration
          configMap:
            name: keda-manager-log-config
      serviceAccountName: manager
      terminationGracePeriodSeconds: 10
