apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
  namespace: keda-custom-metric-api
data:
  nginx.conf: |
    events {}
    http {
      server {
        listen 80;
        root /usr/share/nginx/html;
        default_type application/json;
        location = /metrics {
          return 200 '{"value": 3}';
        }
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: custom-metric-api-server
  namespace: keda-custom-metric-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: custom-metric-api-server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: custom-metric-api-server
      annotations:
        traffic.sidecar.istio.io/excludeInboundPorts: 80, 15020 # besides health check port, excude also the 80 to be accessible from keda outside the mesh
    spec:
      containers:
        - name: nginx
          image: nginx:1.25-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: nginx-conf
          configMap:
            name: nginx-conf
---
apiVersion: v1
kind: Service
metadata:
  name: custom-metric-api
  namespace: keda-custom-metric-api
spec:
  selector:
    app.kubernetes.io/name: custom-metric-api-server
  ports:
    - name: http
      port: 80
      targetPort: 80