name: upgrade tests

on:
  workflow_call:

jobs:
  upgrade-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: run test
        run: make -C hack/ci upgrade-test
        env:
          IMG: europe-docker.pkg.dev/kyma-project/prod/keda-manager:${{ github.sha }}
